@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Roboto;
    color:#777777;
    letter-spacing: 0.5px;
}    

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

/*HEADER CSS STARTS*/
header{
    background-color: #fafafa;
    box-shadow: 0 1px 5px #cac7c7;
    height:80px;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: fixed;
    width:100%;
    z-index: 99999;
}

nav{
    display:flex;
    flex:5;
    flex-flow:row wrap;
    align-items: center;
    width:70%;
    justify-content: center;
    margin: auto;
    
}

.logo{
    flex:1;
    text-decoration: none;
    color:#201e1e;
    font-size:100%;
    padding-right: 15px;
}

.logo h2{
    white-space: nowrap;
}

#menu-left{
    flex:5;
    justify-content: left;
    list-style-type: none;
}

#menu-left li, #menu-right li{
    float:left;
    padding:15px;
}

#menu-right{
    justify-content: right;
    list-style-type: none;
}

#menu-left a, #menu-right a{
    text-decoration: none;
    color:#201e1e;
}

#menu-left a:hover, #menu-right a:hover{
    text-decoration: none;
    color:#bcbcd3;
    border-radius: 2px;
}

#menu-left a{
    font-size: 110%;
}

#menu-right a{
    font-size:110%;
}
/*HEADER CSS ENDS*/


/*HERO CSS STARTS*/
#hero{
    position: relative;
    height:500px;
    width:70%;
    margin:0 auto;
    align-items: top;
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top:100px;
}
.hero-text{
    flex:2;
    margin-top: 5%;
    
}
.hero-text h1{
    font-size: 280%;
    max-width: 550px;
    color:#103c75;
}

.hero-text p{
    padding-top: 40px;
    max-width: 600px;
    font-size: 150%;
    color:#182a64
}

.checkmarks{
    padding-top:40px;
    text-decoration: none;
    list-style-type: none;
}

.checkmarks li{
    padding-bottom: 5px;;
}

.checkmarks li span{
    font-weight: bold;
    font-size:110%;
}
.checkmarks li a{
    font-size: 110%;
    color:#150b38;
    padding-left:5px;
    font-weight: 400;
}
.hero-image{
    flex:1;
}

.hero-image img{
    max-width:850px;
    justify-content: right;
}
/* HERO CSS ENDS*/

/*PRICING CARDS START*/
#pricing-cards{
    width:70%;
    margin:0 auto;
    padding-top:200px;
}

#pricing-cards h1{
    font-size: 240%;
    text-align: center;
    padding-top: 20px;
    color:#103c75;
}

.container{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap:10px;
    height:780px;
    align-items: center;
}

.container .card{
    width:430px;
    height:600px;
    border:1px solid #b4b3e9;
    border-radius: 5px;
    transition:0.5s;
}

.container .card h2{
    color:#103c75;
    text-align: center;
    margin-top: 40px;
    font-size:160%;
}

.container .card p{
    color:#201e1e;
    text-align: center;
    padding-top: 10px;
    padding-left:60px;
    padding-right:60px;
}

.container .card .save{
    padding-top:70px;
}

.container .card3 .save{
    padding-top:50px;
}

.save-percentage{
    font-size:100%;
    font-weight: bold;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #b4b3e9;
    margin-left:5px;
    color:#0635ce;
}
.save s{
    font-weight: 300;
}

.price {
    margin-top:30px;
}

.price a{
    font-size: 300%;
    font-weight:bold;
    color:#103c75;
}

.price span{
    font-size: 130%;
    padding-right:5px;
    font-weight: bold;
}

.container #card2 .save .save-percentage{
    background-color: rgb(250, 199, 199);
    color:rgb(209, 46, 46)
}

.container .card .price{
    padding-top:30px;
}

#card2{
    border:2px solid #809cf7;
}

.container .card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 1px 1px 10px #8e8dd3;
}

.card-thematic-break{
    border:1px solid #c3cef3;
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
}

.card-checkmarks{
    list-style-type: none;
    text-decoration: none;
    padding-left:50px;
    padding-top:30px;
}

.card-checkmarks li{
    padding-bottom:10px;
}
/*PRICING CARDS END*/


/*FOUR CARDS STARTS*/

#four-cards{
    max-width: 70%;
    margin:0 auto;
    padding-top:200px;
}

#four-cards .four-cards-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap:10px;
}

.four-cards-container .card h1{
    font-size: 260%;
    color:#103c75;
}
.four-cards-container .card p{
    padding-top:30px;
    font-size: 120%;
    color:#150b38;
}
.text-card1{
    flex:2;
}

.picture-card1{
    flex:1;
}

.picture-card1 img{
    max-width:900px;
    float:right;
}

.text-card2{
    flex:1;
}

.picture-card2{
    flex:1;
}

.picture-card2 img{
    max-width:700px;
}


/* REVIEWS STARTS */

#reviews{
    width:70%;
    margin:0 auto;
    padding-top:200px;
}

.reviews-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}

.reviews-box{
    flex-basis:1;
    background-color: #fcf6f6;
    width:500px;
    height:350px;
}

.reviews-box-content{
    display:flex;
    padding:30px;
    height:290px; 
    flex-direction: column;  
    justify-content: space-between;
}
.reviews-box-content h1{
    flex-basis:1;
    color:#150b38;
}
.reviews-text{
    flex-basis:1;
    align-content:center;
}

.five-stars{
    flex-basis:1;
    align-content: bottom;
    color:rgb(3, 165, 3);
    font-size: 110%;
}

/* GET-STARTED SECTIONS */

#get-started{
    width:70%;
    margin:0 auto;
    padding-top:200px;
}

.get-started-container{
    display:flex;
    justify-content:space-between;
    flex-flow: row wrap;
    padding:30px;
    background-color:rgb(234, 244, 246);
}

.get-started-text h1{
    font-size: 260%;
    color:#103c75;
}

.get-started-text p{
    padding-top:20px;
    font-size: 120%;
    color:#150b38;
}
.get-started-btn{
    align-content:center;
}

.get-started-btn .btn{
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    align-content:center;
    padding:30px;
    font-size: 140%;
    border-radius: 15px;
    background-color: #103c75;
    color:#fafafa;
    transition: 0.5s;
}

.get-started-btn .btn:hover{
    background-color:#a0b2e9;
    transition: 0.5s;
}

/*FOOTER STARTS */

footer{
    width:70%;
    margin:0 auto;
}

.footer-container{
    display:flex;
    background-color: #090613;
    height:300px;
    color:#fafafa;
    gap:20px;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top:50px;
}

.footer-col-1{
    display:flex;
    flex-flow:column wrap;
    max-width: 250px;;
}

.footer-col-2{
    display:flex;
    flex-flow:column wrap;
}

.social-media-links{
    gap:10px;
}

.footer-container a{
    color:#fafafa;
    text-decoration: none;
}

.social-media-links a{
    font-size:50px;
}