@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Roboto;
    color:#777777;
    letter-spacing: 0.5px;
}    

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

 /* main{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
  }
*/
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  h1{
    font-size:30px;
    line-height: 1.5;
  }
  
  p{
    font-size:16px;
    line-height:1.5;
  }

/*HEADER CSS STARTS*/

header{
    background-color: #fafafa;
    box-shadow: 0 1px 5px #cac7c7;
    height:80px;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
    position:fixed;
    width:100%;
    z-index: 99999; 
}

nav{
    display:flex;
    flex:5;
    flex-flow:row wrap;
    align-items: center;
    max-width:1200px;
    justify-content: center;
    margin:0 auto;
    
}

.logo{
    flex:1;
    text-decoration: none;
    color:#201e1e;
    font-size:100%;
    padding-right: 15px;
}

.logo h2{
    white-space: nowrap;
}

#menu-left{
    flex:5;
    justify-content: left;
    list-style-type: none;
}

#menu-left li, #menu-right li{
    float:left;
    padding:15px;
}

#menu-right{
    justify-content: right;
    list-style-type: none;
}

#menu-left a, #menu-right a{
    text-decoration: none;
    color:#201e1e;
    
}

#menu-left a:hover, #menu-right a:hover{
    text-decoration: none;
    color:#bcbcd3;
    border-radius: 2px;
}

/*HEADER CSS ENDS*/


/*HERO CSS STARTS*/
#hero{
    height:700px;
    width:100%;
    margin:0 auto;
    display:flex;  
}

.hero-wrapper{
    display:flex;
    width:1200px;
    margin:0 auto;
    justify-content: center;
    flex-flow: row wrap;
    height:500px;
    align-items: center;
    position: relative;
    top:130px;
}

.hero-text{
    flex-basis:50%;
    display:flex;
    flex-flow:row wrap;
    gap:30px;
}
.hero-text h1{
    font-size: 280%;
    max-width: 550px;
    color:#103c75;
}

.hero-text p{
    max-width: 600px;
    font-size: 120%;
    color:#182a64
}

.checkmarks{
    text-decoration: none;
    list-style-type: none;
    flex-basis:100%;
    padding-bottom:14px;
}

.checkmarks li span{
    font-weight: bold;
    font-size:110%;
}
.checkmarks li a{
    color:#150b38;
    padding-left:5px;
    font-weight: 400;
}

.contact-sales-btn .btn{
    text-decoration: none;
    border: 1px solid #333333;
    align-content:center;
    padding:12px;
    font-size: 100%;
    border-radius: 15px;
    background-color: #103c75;
    color:#fafafa;
    transition: 0.3s;
    border-style: none; 
}

.contact-sales-btn .btn:hover{
    background-color:#a0b2e9;
    transition: 0.3s;
}

.hero-image{
    flex-basis:50%;
    margin:0 auto;
}

.hero-image img{
    margin-top: 5%;
    max-width:500px;
    float:right;
}
/* HERO CSS ENDS*/

/*PRICING CARDS START*/

#pricing-cards{
    width:100%;
    display:flex;
    background-color: rgba(234, 238, 245, 0.3);
}

.container{
    display:flex;
    width:1200px;
    justify-content: space-between;
    flex-flow: row wrap;
    height:800px;
    align-items: center;
    margin:0 auto;
    
}

#pricing-cards h1{
    font-size: 200%;
    text-align: center;
    color:#103c75;
    flex-basis:100%;

}

.container .pricing-card{
    width:320px;
    height:600px;
    border:1px solid #b4b3e9;
    border-radius: 5px;
    transition:0.5s;
}

.container .pricing-card h2{
    color:#103c75;
    text-align: center;
    margin-top: 40px;
    font-size:160%;
}

.container .pricing-card p{
    color:#201e1e;
    text-align: center;
    padding-top: 10px;
    padding-left:60px;
    padding-right:60px;
}

.container .pricing-card .save{
    padding-top:70px;
}

.container .card3 .save{
    padding-top:50px;
}

.save-percentage{
    font-size:100%;
    font-weight: bold;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #b4b3e9;
    margin-left:5px;
    color:#0635ce;
}
.save s{
    font-weight: 300;
}

.price {
    margin-top:30px;
}

.price a{
    font-size: 300%;
    font-weight:bold;
    color:#103c75;
}

.price span{
    font-size: 130%;
    padding-right:5px;
    font-weight: bold;
}

.container #card2 .save .save-percentage{
    background-color: rgb(250, 199, 199);
    color:rgb(209, 46, 46)
}

.container .pricing-card .price{
    padding-top:30px;
}

#card2{
    border:2px solid #809cf7;
}

.container .pricing-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 1px 1px 10px #8e8dd3;
}

.card-thematic-break{
    border:1px solid #c3cef3;
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
}

.card-checkmarks{
    list-style-type: none;
    text-decoration: none;
    padding-left:50px;
    padding-top:30px;
}

.card-checkmarks li{
    padding-bottom:10px;
}
/*PRICING CARDS END*/


/*FOUR CARDS STARTS*/

#four-cards{
    width: 100%;
    margin:0 auto;
    padding-top:150px;
    display:flex;
}

#four-cards .four-cards-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    row-gap:10px;
    width:1200px;
    margin:0 auto;
}

.four-cards-container .card h1{
    font-size: 200%;
    color:#103c75;
    flex-basis:50%;
}
.four-cards-container .card p{
    padding-top:30px;
    font-size: 120%;
    color:#150b38;
}
.text-card1{
    flex-basis: 50%;
}

.picture-card1{
    flex-basis:50%;
}

.picture-card1 img{
    max-width:400px;
    float:right;
}

.text-card2{
    flex:1;
}

.picture-card2{
    flex:1;
}

.picture-card2 img{
    max-width:400px;
}


/* REVIEWS STARTS */

#reviews{
    display:flex;
    width:100%;
    padding-top:150px;
}

.reviews-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    width:1200px;
    margin:0 auto;
    padding-left:40px;
    padding-right:40px;
}

.reviews-box{
    flex-basis:1;
    background-color: #fcf6f6;
    width:350px;
    height:350px;
}

.reviews-box-content{
    display:flex;
    padding:30px;
    height:290px; 
    flex-direction: column;  
    justify-content: space-between;
}
.reviews-box-content h1{
    flex-basis:1;
    color:#150b38;
}
.reviews-text{
    flex-basis:1;
    align-content:center;
}

.five-stars{
    flex-basis:1;
    align-content: bottom;
    color:rgb(3, 165, 3);
    font-size: 110%;
}

/* GET-STARTED SECTIONS */

#get-started{
    display:flex;
    width:100%;
    margin-top:200px;
    background-color:rgb(234, 244, 246);
}

.get-started-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    width:1200px;
    margin:0 auto;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
}

.get-started-text h1{
    font-size: 150%;
    color:#103c75;
}

.get-started-text p{
    font-size: 120%;
    color:#150b38;
}
.get-started-btn{
    align-content:center;
}

.get-started-btn .btn{
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    align-content:center;
    padding:12px;
    font-size: 100%;
    border-radius: 15px;
    background-color: #103c75;
    color:#fafafa;
    transition: 0.5s;
    border-style: none;
}

.get-started-btn .btn:hover{
    background-color:#a0b2e9;
    transition: 0.5s;
}

/*FOOTER STARTS */

footer{
    display:flex;
    width:100%;
    background-color: #090613;
}

.footer-container{
    display:flex;
    width:1200px;
    color:#fafafa;
    gap:20px;
    justify-content: space-between;
    align-items: top;
    flex-flow: row wrap;
    padding-top:50px;
    margin:0 auto;
    padding-left:40px;
    padding-right:40px;
}

.footer-col-1{
    display: flex;
    flex-flow:row wrap;
    max-width: 250px;
    gap:20px;
    

    form{
        display:block;
    }

    form .email{
        margin:15px;
        margin-left:0;
        padding:5px;
        border-radius: 5px;
        width:100%;

    }

    .checkbox-label{
        font-size:13px;
    }

    .submit{
        margin-top:15px;
        width:100px;
        height:20px;
        border-radius:5px;
    }
}

.footer-col-2{
    display: flex;
    flex-flow: column wrap;
    gap:20px;
}

.social-media-links{
    gap:10px;

    h2{
        padding-bottom:20px;
    }
}

.footer-container a{
    color:#fafafa;
    text-decoration: none;
}

.social-media-links a{
    font-size:50px;
}

.copyright{
    display:flex;
    flex-flow:row wrap;
    flex-basis: 100%;
    justify-content: center;
}

.copyright hr{
    width:100%;
    margin-top:20px;
    color: rgba(255, 255, 255, 0.2)
}

.copyright p{
    text-align: center;
    font-size: 12px;
}





/* PAGE PADDING */

nav, .hero-wrapper, #pricing-cards .container, #four-cards .four-cards-container, .wrapper{
    padding-left: 40px;
    padding-right:  40px;
}




/* CONTACT CSS */
#main-contact{
    height:1220px;
}
.contact-section{
    position:relative;
    top:100px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:40px;
    padding-right:40px;
}

.contact-container{
    max-width: 600px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
    background-color: #fff;
    box-shadow: 0px 0px 12px #dfdddd ;
    padding:40px;
    box-sizing: border-box;
    color:#201e1e;
}

.contact-container h1{
    color:#103c75;
    margin-bottom:20px;    
}

.contact-container .first-paragraph{
    margin-bottom: 40px;
    
}

.contact-container form{
    width:100%;
    box-sizing: border-box;
    padding-right: 8px;
}


.form-group{
    padding-bottom:25px; 
    
    label{
        display:inline-block;
        padding-bottom: 5px;
        
    }

    p{
        padding-bottom: 5px;
    }

    .radio-label{
        font-size:13px;
    }
}
 
.submit-group{
    text-align: ;
    

    input[type="submit"]{
        appearance: none;
        border:none;
        outline:none;
        background: none;
        padding:10px;
        border-radius: 10px;
        background-color: #103c75;
        color:#fafafa;
        transition: 0.4s;
        cursor: pointer;
        
        &:hover{
            background-color:#a0b2e9;
            transition: 0.4s;
        }
    }
}

.input input{
    background-color:#ece5e5;
    display:block;
    width:100%;
    border-radius: 10px;
    appearance: none;
    outline:none;
    border:none;
    padding:8px;
}

.full textarea{
    min-height:100px;
    width:100%;
    background-color:#ece5e5;
    border-radius: 10px;
    resize:none;
    padding:8px;
}

/* HELP STYLE */

.wrapper {
    width:800px;
    margin: 0 auto;
    display:flex;
    flex-flow:column wrap;
    padding-top:150px;
    padding-bottom:10px;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
    padding-bottom:40px;
  }
  
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  