@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Roboto;
    color:#777777;
}    


/*HEADER CSS STARTS*/
header{
    background-color: #fafafa;
    box-shadow: 0 1px 5px #cac7c7;
    height:80px;
    flex-flow:row wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

nav{
    display:flex;
    flex:5;
    flex-flow:row wrap;
    align-items: center;
    width:70%;
    justify-content: center;
    margin: auto;
}

.logo{
    flex:1;
    letter-spacing: 1px;
    text-decoration: none;
    color:#201e1e;
    font-size:100%;
    padding-right: 15px;
}

.logo h2{
    white-space: nowrap;
}

#menu-left{
    flex:5;
    justify-content: left;
    list-style-type: none;
}

#menu-left li, #menu-right li{
    float:left;
    letter-spacing: 1px;
    padding:15px;
}

#menu-right{
    justify-content: right;
    list-style-type: none;
}

#menu-left a, #menu-right a{
    text-decoration: none;
    color:#201e1e;
}

#menu-left a:hover, #menu-right a:hover{
    text-decoration: none;
    color:#b6b444;
    border-radius: 2px;
}

#menu-left a{
    font-size: 100%;
}

#menu-right a{
    font-size:90%;
}
/*HEADER CSS ENDS*/


/*HERO CSS STARTS*/

#hero{
    position: relative;
    height:500px;
    width:70%;
    margin:0 auto;
    align-items: top;
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.hero-text{
    flex:2;
    margin-top: 5%;
    
}
.hero-text h1{
    font-size: 280%;
    max-width: 550px;
    color:#201e1e;
}

.hero-text p{
    padding-top: 40px;
    max-width: 720px;
    font-size: 150%;
}
.hero-image{
    flex:1;
}

.hero-image img{
    max-width:650px;
    justify-content: right;
}


